
.box {
    box-sizing: content-box;
    margin-left: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.body{
    font-family: Helvetica, sans-serif;
    
}

header {
    text-align: center;
}

.albuns img{
  margin-bottom: 1em;
  margin-top: 1em;
}



